/* Este es el archivo de estilos CSS */
* {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
}

/* Este es el header*/
header {
    text-align: center;
    color: green;
    border: 1px solid blue;
}

/*Este es la presentación*/
.presentacion {
    font-size: 30px;
    text-align: center;
    color: green;
    border: 1px solid red;
}
